<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <a href="/">← Назад к списку</a>
        <h1>Топ 3</h1>

        {% for note in top_notes %}

        <div class="note">
            <p style="color:#777"><b>{{ note.views }}</b> watching</p>
            <h2>{{ note.title }}</h2>
            <p>{{ note.text[:30] }}...</p>
        </div>

        {% endfor %}
    </div>
</body>
</html>